# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# autotools artifacts
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
pwsafe.1
pwsafe.lsm
pwsafe.spec
stamp-h1

# build output
pwsafe
